table{
    /* width: 85% !important; */
    border: 1px solid black !important;
}
input[type="text"]{
    width: 50% !important;
}
header{
    display: flex;
    justify-content: space-between;
}
header li{
    display: inline;
    list-style-type: none;
    margin: 20px !important;
}
header ul{
    margin-top: 8px;
}